# Dart = langage principal
*.dart linguist-detectable=true

# Ignorer tous les dossiers plateformes
android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
web/** linguist-vendored

# Ignorer fichiers générés
build/** linguist-generated=true
.dart_tool/** linguist-generated=true

# Ignorer C/C++/CMake
*.cpp linguist-vendored
*.c linguist-vendored
*.h linguist-vendored
*.cmake linguist-vendored
CMakeLists.txt linguist-vendored